body {
    background-image: url(/images/stone-texture.jpg);
}

.marketLogo {
    width: 50px;
    height: 50px;
}

.navbar a {
    color: $marketFontColor;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: $aboutFont;
}

.navbar a:hover {
    color: #123501;
}

#cart {
    font-size: 1.8rem;
}

.carousel-item img {
    max-height: 450px;
    object-fit: cover;
}

.carousel-item h5 {
    color: #0af272;
    text-shadow: 2px 2px 2px #123501;
    font-family: $writingFont;
    font-weight: bold;
    font-size: 1.5rem;
}

.galleryLink {
    text-align: center;
}

.toursGallery {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    margin: 20px 0;
    text-align: center;
    background-color: #0af272;
    font-size: 28px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: all 1s;
    font-family: $titleFont;

    &:after,
    &:before {
        content: " ";
        width: 10px;
        height: 10px;
        position: absolute;
        border: 0px solid #fcfafa;
        transition: all 1s;
    }

    &:after {
        top: -1px;
        left: -1px;
        border-top: 5px solid black;
        border-left: 5px solid black;
    }

    &:before {
        bottom: -1px;
        right: -1px;
        border-bottom: 5px solid black;
        border-right: 5px solid black;
    }

    &:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        color: #057c09;
        text-shadow: 3px 3px 3px #0af272;

        &:before,
        &:after {

            width: 100%;
            height: 100%;
        }
    }
}

.about {
    border: 5px solid $marketFontColor;
    margin: 0 20px 10px 20px;
    background: #d7f1e882;
}

.about p,
.about h3 {
    margin: 15px;
    text-align: justify;
}

.about h3 {
    font-family: $titleFont;
    font-size: 2rem;
}

.about p {
    font-family: $aboutFont;
    font-size: 1rem;
    line-height: 2;
}

.backToTop {
    text-align: right;
    margin-bottom: 10px;
    font-family: $aboutFont;
}

.top {
    text-decoration: none;
    color: #185703;
    margin: 10px;
}

.top:hover {
    color: rgb(146, 4, 4);
}

footer {
    background-color: #9ceca29a;
}

footer h2,
footer p,
footer h5 {
    margin: 30px;
}

footer h2,
footer h5 {
    font-family: $aboutFont;
    font-weight: bolder;
}

footer p {
    font-family: $writingFont;
    font-size: 1.1rem;
}

.smallLogo {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.logos {
    font-size: 3rem;
    color: #1d5102;
}

.logos i {
    cursor: pointer;
}

.logos h5 {
    color: black;
}

footer h6 {
    text-align: center;
    font-family: $writingFont;
    font-weight: bold;
}

// tours design

.card-text,
.modal-body {
    text-align: justify;
    font-family: $writingFont;
    // font-size: 1.1rem;
}

.modalContainer {
    margin: 20px;
}

#tours {
    margin: 0 20px;
    align-items: center;
    justify-content: space-between;
}

.toursContainer h1 {
    font-family: $titleFont;
    color: rgb(8, 128, 8);
}

.marketCard {
    margin: 10px 0;
}

.card img {
    height: 180px;
    object-fit: cover;
}

.card {
    height: 26rem;
}

.card-title,
#title {
    font-family: $titleFont;
    // font-size: 1.5rem;
}

.transferBtn,
.addToCart {
    background-color: $marketFontColor;
    font-family: $writingFont;
    // font-size: 1.1rem;
    // margin: 10px;
    // margin-bottom: 0;
}

.transferBtn:hover,
.addToCart:hover {
    background-color: transparent;
    border: 1px solid $marketFontColor;
}